<!--baidu spider-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
    
<!--sogou spider-->	
<script>
(function(){
   var src = document.location.protocol +'//js.passport.qihucdn.com/11.0.1.js?9d4ef735ca23f42708ced50b6d9b0af4';
   document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>

<!--cnzz-->
<div style="display:none;">
		<script src="http://s22.cnzz.com/stat.php?id=5868355&web_id=5868355" language="JavaScript"></script>
</div>
